.Tasks-Container{
    padding: 60px;
    display: flex;
    flex-direction: column;
max-width: 40%;
padding-top: 50px ;
height: 100vh;
h2{
    font-size: 18px;
margin-bottom:18px ;
}

.Last-Tasks{
    padding-top: 20px;
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Completed-Tasks{
flex: 1;
padding-top: 20px;

.Tasks-list{
    padding-top: 20px;
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
}
p{
    padding-top: 10px;
}
}

